$baseline : 1.5rem;

$primary : #232323;

$color1 : #FEEFDA;
$color2 : #D5DBE7;
$color3 : #335973;

$red : #F7426B;

// $yellow: #FFF9E1;
// $blue: #F39161;
// $red: #335973;

$white : #F1F1EF;
$black : #272822;

// $white: lighten($color2, 60);
// $black: darken($color2, 35);

$phone : 27.5rem;

$phablet : 40rem;

$tablet : 60rem;

$laptop : 80rem;

$desktop : 90rem;