$baseline: 1.5rem;

$primary: #232323;

$yellow: #FFEFC5;
$blue: #2E5066;
$red: #B54414;
$white: lighten($blue, 60);
$black: darken($blue, 35);

$phone: 27.5rem;

$phablet: 40rem;

$tablet: 60rem;

$laptop: 80rem;

$desktop: 90rem;