$baseline : 1.5rem;

$primary : #232323;

$color1 : #FEEFDA;
$color2 : #D5DBE7;
$color3 : #2D4363;

$red : #F7426B;
$orange: #F39161;


$white : #F1F1EF;
$black : #272822;

$phone : 27.5rem;

$phablet : 40rem;

$tablet : 60rem;

$laptop : 80rem;

$desktop : 90rem;