input, textarea {
    margin-bottom: 1rem;
    padding: $baseline / 2;
    width: 100%;
    outline: none;
    border: 1px solid $red;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    background-color: rgba(241, 241, 241, 0.7);
    &:focus {
        border-color: $red;
    }
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: opacity 0.5s 0.5s ease;
    opacity: .25;
}

[placeholder]:focus::-moz-placeholder {
    transition: opacity 0.5s 0.5s ease;
    opacity: .25;
}

[placeholder]:focus:-ms-input-placeholder {
    transition: opacity 0.5s 0.5s ease;
    opacity: .25;
}

input.button {
    width: auto;
    display: inline-block;
    background: none;
}

textarea {
    resize: vertical;
    overflow: auto;
    vertical-align: top;
    min-height: $baseline * 8;
}

label {
    line-height: $baseline;
    margin-bottom: $baseline / 4;
    display: block;
}

.error {
    color: red;
    display: block;
    margin-bottom: $baseline / 2;
}

.mc-field-group {    
    max-width: 30em;
    margin: auto;
}