html,
button,
input,
select,
textarea {
    color: $primary;
    font-family: Lucida Grande, Helvetica Neue, Helvetica, Arial, sans-serif; 
}

h1, h2, h3, h4, .site-nav, .bold-link {
    text-align: center;
    font-weight: 400; 
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6,
ul, ol, dd,
p, p:last-child,
pre, table, fieldset, hr {
    margin-top: 0;
    margin-bottom: $baseline;
}


h1 {
    font-size: 2em;
    line-height: 1.2em;
}

h2 {
    font-size: 2.8;
    line-height: 1.2em;
    text-align: center;
    letter-spacing: 3pt;
    font-weight: 600;
    @include min-width($phablet) {
        font-size: 3.2em;
    }
}

.innerheader {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    @include min-width($phablet) {
        font-size: 2em;
    }
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 3em;
    line-height: $baseline * 2;
    text-align: left !important;
}

h5 {
    font-size: 0.83em;
}

h6 {
    font-size: 0.75em;
}

p {
    font-size: 1.03em;
    max-width: 37em;
    margin-right: auto;
    margin-left: auto;
} 

.big-txt {
    font-size: 1.25em;
}

.welcome-txt {
    text-align: center;
    font-size: 1.4em; 
    margin-top: 1.5em; 
    margin-bottom: 1.5em; 
    @include min-width($phone) {
        margin-top: 0; 
        margin-right: 1.3em;
        margin-left: 1.3em;
     }
     @include min-width($phablet) {
        font-size: 1.6em;
        margin-right: 2.2em;
        margin-left: 2.2em;
     }
}

.columns {
    columns: 2 17em;
    column-gap: 2em;
}

.contactslist {
    list-style: none;
    padding: 0;
}
