html,
button,
input,
select,
textarea {
    color: $primary;
    font-family: 'Karla'; 
}

h1, h2, h3, h4, .site-nav, .bold-link {
    font-family: 'Karla', sans-serif;
    text-align: center;
    font-weight: 400; 
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6,
ul, ol, dd,
p, p:last-child,
pre, table, fieldset, hr {
    margin-top: 0;
    margin-bottom: $baseline;
}


h1 {
    font-size: 2em;
    line-height: 1.2em;
}

h2 {
    font-size: 11vw;
    line-height: 1.2em;
    text-align: center;
    @include min-width($phablet) {
        font-size: 4.2em;
    }
}

.innerheader {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    @include min-width($phablet) {
        font-size: 2em;
    }
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 3em;
    line-height: $baseline * 2;
    text-align: left !important;
}

h5 {
    font-size: 0.83em;
}

h6 {
    font-size: 0.75em;
}

p {
    font-size: 1.03em;
} 

.big-txt {
    font-size: 1.25em;
}

.welcome-txt {
    font-size: 1.6em;
    text-align: center;
    margin-right: 2em;
    margin-left: 2em; 
}
     

.columns {
    @include min-width($tablet) {
        columns: 2;
    }
}
