* {
    box-sizing: border-box;
}

html {
    // line-height: 1.25;
    background-color: $color2;
}

html, body {
    overflow-x: hidden;
    max-width: 100%;
}

a {
    @include link-colors($color3, $color3, $color3, $color3);
    background: transparent;
    outline: 0;
    text-decoration: none;
    transition: color .2s ease;
}

a:focus {
    outline: 0;
}

::-moz-selection {
    background: $color3;
    text-shadow: none;
}

::selection {
    background: $color3;
    text-shadow: none;
    color: white; 
}

// ::-webkit-scrollbar {
//     width: $baseline / 1.5;
//     height: $baseline / 1.5;
// }

// ::-webkit-scrollbar-track {
//     background: darken($color2, 5);
// }

// ::-webkit-scrollbar-thumb {
//     background: lighten($color2, 5);
// }

img {
    vertical-align: middle;
    max-width: 100%;
    border: 0;
    &::selection {
        background: transparent;
    }
    &::-moz-selection {
        background: transparent;
    }
}

a.tt-widget-tab-button.gettickets-btn {
    background-color: $red !important; 
    z-index: 999999 !important;
    right: 0px !important;
    line-height: 30px !important;
    width: 154px !important;
    font-size: 17px !important;
    height: 32px !important;
    border-radius: 0px !important;
}

.center {	
  text-align: center;
  display: block;
}