.bx-wrapper {
    position: relative;
    // border: 5px solid $color3;
}

.bx-controls-direction {
    position: absolute;
    top: calc(50% - 1.5rem);
    width: 100%;
    a {
        @extend %hide-text;
        display: block;
        width: $baseline * 2;
        height: $baseline * 2;
        background-color: $color3;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        transition: background .2s ease;
        @media all and (max-width: $phone) {
            background-color: rgba(0, 0, 0, 0); 
        }
    }
}

.bx-prev {
    position: absolute;
    left: 0;
    background-image: url(../img/partials/icon-previous.svg);
    transition: all ease .2s;
}

.bx-next {
    position: absolute;
    right: 0;
    background-image: url(../img/partials/icon-next.svg);
    transition: all ease .2s;
}

.bx-pager {
    display: none;
}