.site-header {
    height: 0;
    padding-bottom: 56.2%;
}

.headervideo, .video-img {
    display: none;
}

@media only screen and (min-width: 760px) {
    .headervideo {
        display: inline-block;
    }
}

@media only screen and (max-width: 760px) {
    .video-img {
        display: inline-block;
    }
}

.logo {
    @extend %hide-text;
    z-index: 100000;
    margin: 0 auto $baseline;
    width: 38%;
    height: 0;
    padding-bottom: 21.76%;
    background: url(../img/partials/logo.svg);
    background-size: cover;
    transition: all ease .6s;
}

.splash {
  position: relative; 
  top: 12vw;
  text-align: center;
  color: $white;
  font-size: 1.5em;
  p {
    font-size: .6em;
    letter-spacing: 3px;
    @media (min-width: 520px) {
      font-size: .8em;
    }
    @media (min-width: 690px) {
      font-size: 1em;
    }
  }
}

.splash .location {
  @media (min-width: 470px) {
    &:before {
      content:"Bentley Country Park, ";
    }  
  }
}

.site-nav {
    font-size: 0.9em;
    width: 100%;
    transition: all ease .2s .6s;
    position: relative;
    z-index: 9999;
    background: none; 
    a {
        color: $white !important;
        padding: 0 0.2em;
        &:hover, &:active {
            background-color: $color3;
            -webkit-transition: all ease .2s; 
            -moz-transition: all ease .2s; 
            -ms-transition: all ease .2s; 
            -o-transition: all ease .2s; 
            transition: all ease .2s; 
        }
    }
    &--stuck {
        position: fixed;
        z-index: 9999;
        opacity: 1;
        pointer-events: auto;
        top: 0;
        left: 0;
        padding: 4px 0 4px 0;
        background: rgba($color3, .8);
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -ms-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        &:hover {
            background: rgba($color3, 1); 
        }
        a:hover,
        a:active {
            background-color: $color2;
        }
    }
    &--stuck a {
        padding: 4px 0.2em 4px 0.2em;
    }
    @include max-width($tablet) {
        display: none;
    }
    @include min-width(1065px) {
        font-size: 1em;
    }
}

.billboard {
    width: 100%;
    height: auto;
    position: absolute
}