.site-header {
    height: 0;
    padding-bottom: 56.2%;
}

.headervideo, .video-img {
    display: none;
}

@media only screen and (min-width: 760px) {
    .headervideo {
        display: inline-block;
    }
}

@media only screen and (max-width: 760px) {
    .video-img {
        display: inline-block;
    }
}

.logo {
    @extend %hide-text;
    z-index: 100000;
    margin: 0 auto $baseline;
    width: 38%;
    height: 0;
    padding-bottom: 21.76%;
    background: url(../img/partials/logo.svg);
    background-size: cover;
    transition: all ease .6s;
}

.splash {
  position: relative; 
  top: 12vw;
  text-align: center;
  color: $white;
  font-size: 1.5em;
  p {
    font-size: .6em;
    @media (min-width: 520px) {
      font-size: .8em;
    }
    @media (min-width: 690px) {
      font-size: 1em;
    }
  }
}

.location .widerscreen {
  @media (min-width: 470px) {
    display: inline;
  }
}

.site-nav {
    font-size: 1.9vmax;
    width: 100%;
    display: none;
    transition: all ease .2s .6s;
    position: relative;
    z-index: 9999;
    background: none;
    height: 35px;
    line-height: 35px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.57);
    a {
        display: inline-block;
        color: $white !important;
        padding: 0 0.2em;
        &:hover, &:active {
            background-color: $color3;
            -webkit-transition: all ease .2s; 
            -moz-transition: all ease .2s; 
            -ms-transition: all ease .2s; 
            -o-transition: all ease .2s; 
            transition: all ease .2s; 
        }
    }
    .social__twitter,.social__facebook {
        text-indent: 2000px;
        position: relative;
        display: inline-block;
        margin: 0 0.275rem;
        width: 2rem;
        height: 90%;

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        &:hover {
            background-color: initial;
            opacity: .6;
        }
    }
    &--stuck {
        position: fixed;
        z-index: 9999;
        opacity: 1;
        pointer-events: auto;
        top: 0;
        left: 0;
        background: rgba($color3, .8);
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -ms-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        text-shadow: none;
        &:hover {
            background: rgba($color3, 1); 
        }
        a:hover,
        a:active {
            background-color: darken($color3,5%);
        }
    }
    @include min-width(729px) {
        display: block;
        .socials {
            width: 1.3rem;
        }
    }
    @include min-width($tablet) {
        font-size: 0.8em;
    }
    @include min-width(1200px) {
        font-size: 1em;
    }
}

.billboard {
    width: 100%;
    height: auto;
    position: absolute
}