.tabs {
  >ul {
  	list-style: none;
  	text-align: center;
  	padding: 0;
    >li {
    	-webkit-transition: all ease .2s; 
    	-moz-transition: all ease .2s; 
    	-ms-transition: all ease .2s; 
    	-o-transition: all ease .2s; 
    	transition: all ease .2s; 
    	text-transform: uppercase;
    	display: block;
    	margin: 0 .35em;
    	margin-bottom: 0.2em;  
    	font-size: 1.6em;
    	padding: 0 .1em;
    	line-height: 1.3;
    	@media all and (min-width: $phone) {
    		font-size: 2em;
    	}
    	a {
    		&:hover {
    		border-bottom: 4px solid lighten($red,5%);
    		-webkit-transition: none ease .2s; 
    		-moz-transition: none ease .2s; 
    		-ms-transition: none ease .2s; 
    		-o-transition: none ease .2s; 
    		transition: none ease .2s; 
    		}
    		&.active {
    			font-weight: 600; 
    			border-bottom: 5px solid $red;
    			-webkit-transition: none ease .2s; 
    			-moz-transition: none ease .2s; 
    			-ms-transition: none ease .2s; 
    			-o-transition: none ease .2s; 
    			transition: none ease .2s; 
    		}
    		&:focus {
    			outline: none;
    		}
    	}
    }
  }
}

#lineup, #events {
  .tabs li {
    @include min-width(316px) {
    display: inline;
    margin-bottom: 0;
    }
  }
}
#getinvolved {
  .tabs li {
      @include min-width(700px) {
      display: inline;
      margin-bottom: 0;
      }
  }
}

ul.about-tabs {
	margin-bottom: 2.5em;
	font-size: 0.9em;
  li {
    display: inline-block;
  }
}

.filter-tabs {
  list-style: none;
  text-align: center;
  padding: 0;
  font-size: .6em;
  >li {
    -webkit-transition: all ease .2s; 
    -moz-transition: all ease .2s; 
    -ms-transition: all ease .2s; 
    -o-transition: all ease .2s; 
    transition: all ease .2s; 
    text-transform: uppercase;
    display: inline-block;
    margin: 0 .35em;
    margin-bottom: 0.2em;  
    font-size: 1.6em;
    padding: 0 .1em;
    line-height: 1.3;
    @media all and (min-width: $phone) {
      font-size: 2em;
    }
    a {
      &:hover {
      border-bottom: 3px solid lighten($orange,5%);
      -webkit-transition: none ease .2s; 
      -moz-transition: none ease .2s; 
      -ms-transition: none ease .2s; 
      -o-transition: none ease .2s; 
      transition: none ease .2s; 
      }
      &.is-checked {
        font-weight: 600; 
        border-bottom: 4px solid $orange;
        -webkit-transition: none ease .2s; 
        -moz-transition: none ease .2s; 
        -ms-transition: none ease .2s; 
        -o-transition: none ease .2s; 
        transition: none ease .2s; 
      }
      &:focus {
        outline: none;
      }
    }
  }
}