<!DOCTYPE html>
<html lang="en" class="alt-bg">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Brainchild Festival 2015</title>
		<link rel="shortcut icon" href="img/favicons/favicon.ico">
		<link rel="apple-touch-icon-precomposed" href="img/favicons/favicon-152.png">
		<script src="./modernizr.custom.js"></script>
		<link rel="stylesheet" href="./style.min.css?version=2">
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-46178608-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</head>
	<body class="alt-bg">
		<a href="/" class="backbutton">BACK TO MAIN SITE</a>
		<div id="schedule" class="center inner-wrap">
			<p class='big-txt'>Print these schedules or save to your phone...</p>
			<p>Friday: <a href="./img/schedule/friday.jpg" target="_blank">DOWNLOAD</a></p>
			<p>Saturday: <a href="./img/schedule/saturday.jpg" target="_blank">DOWNLOAD</a></p>	
			<p>Sunday: <a href="./img/schedule/sunday.jpg" target="_blank">DOWNLOAD</a></p>				
		</div>

		<script src="scripts.min.js?version=2"></script>
	</body>
</html>